// accent colors
$color-accent: #66ddf9;
// gray colors
$white: white;
$gray-light: #fafafa;
$gray-lighter: #cccccc;
$gray-lightest: #727272;
$gray: #373737;
$black: black;
// other colors
$red: #e72828;
$green: #3dc865;