// accent colors
$color-accent: #66ddf9;
// gray colors
$white: white;
$gray-light: #fafafa;
$gray-lighter: #cccccc;
$gray-lightest: #727272;
$gray: #373737;
$black: black;
// other colors
$red: #E72828;
$red-accent: #FF6E1C;
$yellow: #FFED4D;
$yellow-accent: #FFA031;
$green: #3dc865;
$green-accent: #97F936;